/* General CSS for the entire website */

.background {
    background-color: #B4BED9;
    background-size: cover;
    background-repeat: no-repeat;
    /*Image by Lumina Obscura from Pixabay*/
}

#main {
    background-color: #5B6E8F;
}

.wrapper {
    max-width: 1028px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

#navbar {
    grid-column: 1/4;
    grid-row: 1;
    background-color: #C3C5C9 !important;
}

.skip {
    position: absolute;
    top: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

footer {
    padding: 1.5% 0;
    background-color: #C3C5C9;
    text-align: center;
    box-shadow:inset 0 2px 10px grey;
    max-height: 90px;
}

.sep {
    background-color: #C3C5C9;
    padding: 20px 0;
    box-shadow:inset 0 2px 10px grey;
    font-size: 1.25em;
}

/* CSS for main page */

#summary {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    
}

#summaryPara1 {
    grid-column: 1/2;
    grid-row: 1;
    border-radius: 15px;
    background: #C3C5C9;
    padding: 10px;
    margin: auto;
    width: 400px; 
    box-shadow:inset 0 2px 10px grey;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

#summaryPara2 {
    grid-column: 2/3;
    grid-row: 1;
    border-radius: 15px;
    background: #C3C5C9;
    padding: 10px;
    margin: auto;
    width: 400px;
    box-shadow:inset 0 2px 10px grey;
    font-size: 1rem;
    line-height: 1.5;
}

#hobbies {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#hobbiesSep {
    grid-column: 1/3;
}

#carouselExampleSlidesOnly {
    grid-row: 1;
    height: 100px;
    margin: auto;
}

#hobbyPara {
    grid-row: 1;
    border-radius: 15px;
    background: #C3C5C9;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 400px; 
    box-shadow:inset 0 2px 10px grey;
    font-size: 1rem;
    line-height: 1.5;
}

#mainTopic {
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    grid-template-rows: 1fr;
}

/* CSS for Resume page */

#previousWork {
    grid-column: 2/3;
    grid-row: 1;
    margin-bottom: 10px;
}

.list-group-item{
    background-color: #C3C5C9 !important;
}

#domCard {
    margin: auto;
    grid-column: 1/2;
    grid-row: 1;
    background-color: #C3C5C9 !important;
}

#historyList {
    border-radius: 15px;
    background: #C3C5C9;
    padding: 10px;
    margin: auto;
    width: 400px; 
    box-shadow:inset 0 2px 10px grey;
}

.card-link {
    color: black;
}

/* Media Queries for responsive web design */

@media screen and (max-width:800px) {
    .wrapper {
        max-width: 800px;
        grid-template-rows: auto auto auto;
    }

    #summary {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    #summaryPara1 {
        grid-column: 1/2;
        grid-row: 1;
        margin-top: 10px;
    }
    
    #summaryPara2 {
        grid-column: 1/2;
        grid-row: 2;
        margin-top: 10px;
    }

    #audio {
        grid-column: 1/2;
        grid-row: 3;
    }


    #hobbiesSep {
        grid-column: 1/3;
    }

    #hobbies {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #hobbyPara {
        grid-row: 2;
        margin-bottom: 10px;
    }

    footer {
        grid-row: 3;
    }
    
    main {
        grid-row: 2;
        height: 1500px;
    }
}

@media screen and (max-width:860px) {
    .wrapper {
        max-width: 860px;
    }

    #mainTopic {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    
    #previousWork {
        padding-left: 10px;
        grid-column: 1/2;
        grid-row: 2;
        margin-bottom: 10px;
    }
    
    #domCard {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        grid-column: 1/2;
        grid-row: 1;
    }
}

